Answers for reflection Questions:
# //*************************************//
Q1.How you implemented React and TypeScript features?
Ans:
-Used functional components for all UI elements (Dashboard, TaskForm, TaskFilter, TaskList, TaskItem).
-created useState to manage local component state: 
    tasks in Dashboard holds all tasks.
    filters in Dashboard tracks filter values.
    formData in TaskForm manages input values.
-used useEffect to persist tasks to localStorage:
      Load tasks on initial render.
      Save tasks whenever they change.
-Props and callbacks:
    Child components receive props (tasks, onStatusChange, onDelete, etc.).
    Actions in child components trigger callbacks to update parent state.

-Created Interfaces and types for all data structures and props:
Task, TaskFormData, FilterOptions, TaskStatus, TaskPriority.
Component props typed (TaskListProps, TaskItemProps, TaskFilterProps).

-Strict typing in callbacks:
    Status updates: (id: string, status: TaskStatus) => void
    Filter updates: (filters: FilterOptions) => void
-Type casting when necessary, e.g., casting filter select values to TaskStatus or TaskPriority.
*************************************************************************************************************
Q2. The challenges you encountered and how you overcame them?
Ans: 
-My  Biggest challenge is Tailwind By mistake I installed tailwing in different folder and was trying to apply style but it was not giving required result. 
it took my lots of time to fix this issue.

-Importing types or components with .ts or .tsx caused “cannot find module” errors.
Solution: Removed explicit extensions in imports and relied on TypeScript module resolution:
"-App  couldent  find" : there was problem to give path when import App was importing changed path and it resolved.
-Needed multiple filters (status, priority, search) and sorting by date.
    Solution: Created utility functions:
filterTasks(tasks, filters) → filters tasks based on multiple criteria.
sortTasksByDate(tasks) → sorts tasks by dueDate.
 
Your approach to component composition and state management
******************************************************************************

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
